body {
  font-family: "Roboto", sans-serif !important;
}

.modal {
  max-height: 690px;
  min-width: 470px;
  max-width: 470px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
}

.vh-center {
  justify-content: center;
  align-items: center;
}

/* ==========================================================================
   Modal Header
   ========================================================================== */

.modal-header {
  min-height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 16px;
  box-sizing: border-box;
  color: #fff;
}

.modal-header h4 {
  font-size: 20px;
  margin: 0;
}

[flex] {
  box-sizing: border-box;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.modal-header .modal-close {
  height: 24px;
  width: 24px;
  display: block;
  background: no-repeat url('chrome-extension://__MSG_@@extension_id__/images/ic_clear_white_24px.svg');
}

/* ==========================================================================
   Modal Content
   ========================================================================== */

.modal-content {
  padding: 0 15px 24px 15px !important;
  max-height: 600px !important;
}

.modal-content > .row {
  padding: 8px;
}

.modal.modal-fixed-footer .modal-content {
  height: auto;
}

/* Modal Form
   ========================================================================== */

.modal-content form .row {
  margin: 0;
}

.modal-content form .row input{
  height: 32px;
  font-size: 13px;
}

.input-field label.active {
  font-size: 10px;
}

/* Modal Message
   ========================================================================== */

.modal-content .message {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 418px;
  display: table-cell;
  vertical-align: middle;
  color: rgba(0,0,0,0.2);
  padding: 0 0.75em;
}

/* Metadata List
   ========================================================================== */

.collection {
 border: 1px solid #fff;
}

.collection-header {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0,0,0,0.54);
  padding: 0 20px;
  margin: 10px 0;
}

.collection .collection-item.avatar {
  padding: 0;
  border: none;
  padding: 0 20px;
}

.collection .collection-item {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 48px;
}

.collection .collection-item img {
  width: 65px;
  height: 65px;
  margin-top: 13px;
  margin-bottom: 8px;
  margin-right: 16px;
  box-sizing: content-box;
}

.collection-text-holder {
  flex: 1 1 0%;
  padding: 16px 0px;
  box-sizing: border-box;
}

.collection-text-holder h3 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin: 0;
}

.collection-text-holder .artist {
  line-height: 15px;
  font-size: 15px;
  padding-top: 7px;
}

.collection-text-holder .album-name {
  padding-top: 3px;
  font-size: 11px;
}

.collection-text-holder > * {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
