body {
  font-family: "Roboto", sans-serif !important;
}

.modal {
  max-height: 690px;
  min-width: 470px;
  max-width: 470px;
  box-sizing: border-box;
}

.modal-header {
  min-height: 64px;
  color: rgba(255,255,255,0.87);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 16px;
  box-sizing: border-box;
}

.modal-header h4 {
  font-size: 20px;
  margin: 0;
}

[flex] {
  box-sizing: border-box;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.modal-header .modal-close {
  height: 24px;
  width: 24px;
  display: block;
  background: no-repeat url('chrome-extension://__MSG_@@extension_id__/images/ic_clear_white_24px.svg');
}

.modal-content {
  padding-top: 0 !important;
}

.modal.modal-fixed-footer .modal-content {
  height: auto;
}

.vh-center {
  justify-content: center;
  align-items: center;
}

/*md-list {
  max-width: 380px;
}

md-input-container {
  padding-bottom: 5px;
}

.md-list-item-text h3, .md-list-item-text h4, .md-list-item-text p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.md-list-item-text h3 {
  line-height: 16px !important;
}

.md-list-item-text h4 {
  line-height: 15px !important;
  margin: 0 !important;
}

.md-list-item-text p {
  padding-top: 5px;
  font-size: 11px !important;
}

md-list-item img {
  width: 65px;
  height: 65px;
  margin-top: 13px;
  margin-bottom: 8px;
  margin-right: 16px;
  box-sizing: content-box;
}*/
