
button[name="use-suggestions"] {
  float: none !important;
}

button[name="search-metadata"] {
  background-color: #4CAF50 !important;
  float: right !important;
  margin-right: 0 !important;
  border: none !important;
  color: white  !important;
  border-radius: 2px !important;
}

button[name="search-metadata"]:hover {
  background-color: #81C784 !important;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.27);
  background-image: none;
}
