
button[name="use-suggestions"] {
  float: none !important;
}

.gma-metadata, div[ng-controller="MetadataBtnCtrl"] {
  display: inline;
}

/*
 * Google music had some sort of event on all buttons that would simply
 * close the dialog altogether. In order to avoid this, I do not use a
 * button tag, but rather an input tag of type button. This means I need
 * to transfer all the relavent styles.
 */
input[name="search-metadata"] {
  background-color: #4CAF50 !important;
  float: right !important;
  margin-right: 0 !important;
  border: none !important;
  color: white  !important;
  border-radius: 2px !important;
  width: 130px !important;
  height: 36px !important;
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  cursor: default;
  display: inline-block;
  font-family: 'Roboto',arial,sans-serif;
  font-weight: 500;
  min-width: 40px;
  text-align: center;
  text-decoration: none!important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
  -moz-transition: background-color .218s,border-color .218s,box-shadow .218s;
  -o-transition: background-color .218s,border-color .218s,box-shadow .218s;
  transition: background-color .218s,border-color .218s,box-shadow .218s;
  font-size: 14px;
  height: 36px;
  text-transform: none;
  outline: none;
  filter: none;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  -webkit-writing-mode: horizontal-tb;
}

input[name="search-metadata"]:hover {
  background-color: #81C784 !important;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.27);
  background-image: none;
  color: white  !important;
}

.md-scroll-mask {
  z-index: 1200;
}

.md-dialog-container {
  z-index: 1200;
}
